body {
  font-family: OrkneyRegular;
  text-align: center;
  font-size: 200%;
}

p {
  font-size: 125%;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

ul, ol {
  text-align: left;
  list-style-position: inside;
}

li {
  font-size: 125%;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  padding-left: 0.3em;
  line-height: 1.8em;
  list-style-type: circle;
}

/* left-align code blocks */
div .code {
  text-align: left;
  background-color: #f3f3f3;
  border-radius: 0.5em;
  padding: 1em;
}

.strike {
  text-decoration: line-through;
}

@font-face {
  font-family: OrkneyRegular;
  src: url('./downloads/fonts/orkney/Orkney Regular.woff2') format('woff2');
}

.step {
  width: 1000px;
}
